@import '../../index.scss';

$columns: 8;
$rows: 8;
$column-width: spacing(30);
$row-height: spacing(10);

.kalendar {
  position: relative;
  display: grid;
  gap: 0px;
  width: 100%;
  height: 100%;
}

.kalendar-virtual-map {
  position: absolute;
  inset: 0;
}