.kalendar {
  position: relative;
  display: grid;
  gap: 0px;
  width: 100%;
  height: 100%;
  border-bottom: 0.5px solid var(--primary-300);
  padding-bottom: 2px;
}

.kalendar-virtual-map {
  position: absolute;
  inset: 0;
}