.kalendar-block {
  position: relative;
  &__time {
    display: grid;
    place-items: center;
    align-items: flex-end;
    padding-bottom: 0px;
    margin-bottom: -2px;
  }

  &__minute {
    font-size: 0.8rem;
  }

  .kalendar-time-text {
    position: absolute;
  }
}